/* ვერსია 2 */

/* .nav {
  display: flex;
  align-items: center;
  color: hwb(30 10% 61%);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  
} */

.header {
  display: flex;
  justify-content: space-around;
  background: #cc8f2d9e;
  background-image: url(./img/ვენახის_ბოძი_01-1024x683.jpg);
  background-size: cover;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.li_container {
  display: flex;
  gap: 30px;
}
/* .modal-content {
    gap: inherit;


} */

.fa-solid {
  font-size: 30px;
  color: rgba(84, 9, 9, 0.5);
}
.header nav a {
  color: rgb(105, 14, 14);
  font-weight: 900;
  font-size: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* შემოვიტანო ფონტის დიზაინი */
}

* .logo {
  font-size: 30px;
  font-weight: 600;
  color: rgb(90, 21, 21);
}

/* სექცია bg_container */

.bg_text {
  padding-top: 200px;
  font-size: xx-large;
}

.hero {
  height: 800px;
  color: rgb(90, 21, 21);

  text-align: center;

  background-image: url(./img/Petit_guide_du_vin_blanc_et_de_ses_specificites.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about,
.catalog,
.contact {
  font-size: larger;
  padding: 60px 40px;
  max-width: 1100px;
  margin: auto;
  text-align: center;
  color: rgba(16, 4, 4, 0.991);
}

.catalog .wine-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.wine-card {
  background: rgba(225, 193, 193, 0.362);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
}

.footer {
  text-align: center;
  padding: 50px;
  /* background: #83550c9e; */
  color: rgb(74, 17, 17);
  font-size: large;
  font-style: italic;
  /* margin-top: 40px; */
  background-image: url(./img/ვენახის_ბოძი_01-1024x683.jpg);
  /* დავაშორო ერთმანეთს */
}

.product_list {
  background-color: #b08c539e;
  width: 400px;
  font-size: large;
  text-align: center;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.article_container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.icon_wrapper {
  display: none;
}

/* ეს არის კატალოგის გვერდი  */

.header_catalog {
  display: flex;

  justify-content: space-around;
  background: #d8c1889e;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* margin-bottom: 20px; */
  background-image: url(./img/vinogradniki-09.2e16d0ba.fill-720x405.jpg);
  background-size: cover;
}

.footer_contact {
  margin-top: 300px;
  text-align: center;
  padding: 50px;
  /* background: #83550c9e; */
  color: rgb(74, 17, 17);
  font-size: large;
  font-style: italic;
}

.modal-content {
    padding-top: 50px;
}