/* ვერსია 2 */

.nav {
  align-items: center;
  color: hwb(30 10% 61%);
  padding-top: 50px;
  padding-right: 600px;

  size: 200px;
  /* height: 31px;
  width: 181px; */
}

.li_container {
    display: flex;
    gap: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #83550c9e;
  color: rgba(54, 48, 152, 0.875);
  /* position: sticky; */
  /* top: 0; */
}

.header nav a {
  /* display:inline-block; */
  color: rgb(90, 21, 21);
  /* margin-top: 20px; */
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: rgb(90, 21, 21);
}

.hero {
height: 800px;
  color: rgb(90, 21, 21);

  text-align: center;

  background-image: url(./img/Petit_guide_du_vin_blanc_et_de_ses_specificites.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}

.about,
.catalog,
.contact {
    font-size: larger;
  padding: 60px 40px;
  max-width: 1100px;
  margin: auto;
  text-align: center;
  color: rgba(16, 4, 4, 0.991);
}

.catalog .wine-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.wine-card {
  background: rgba(225, 193, 193, 0.362);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
}

.footer {
  text-align: center;
  padding: 20px;
  /* background: #83550c9e; */
  color: rgb(74, 17, 17);
  font-size:large;
  font-style:italic;
  margin-top: 40px;
}
