/* ვერსია 2 */

.header {
  display: flex;
  justify-content: space-around;
  background: #cc8f2d9e;
  background-image: url(./img/ვენახის_ბოძი_01-1024x683.jpg);
  background-size: cover;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.li_container {
  display: flex;
  gap: 30px;
}

.fa-solid {
  font-size: 40px;

  color: rgb(7, 6, 6);
}
.header nav a {
  color: rgb(105, 14, 14);
  font-weight: 900;
  font-size: 35px;

 
}

.barlow-semi-condensed-thin {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}
* .logo {
  font-size: 30px;
  font-weight: 600;
  color: rgb(90, 21, 21);

}



/* სექცია bg_container */

.bg_text {
  padding-top: 200px;
  font-size: xx-large;
}
.search-section {
  width: 100%;

  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box input {
  width: 100%;
  padding: 15px 20px;
  border-radius: 40px;
  outline: none;
  font-size: 18px;
  background: #f2efefc2;
  border-color: rgb(129, 42, 42);
}

.hero {
  height: 800px;
  color: rgb(90, 21, 21);

  text-align: center;

  background-image: url(./img/Petit_guide_du_vin_blanc_et_de_ses_specificites.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about .catalog .contact {
  font-size: larger;
  padding: 60px 40px;
  max-width: 1100px;
  margin: auto;
  text-align: center;
  color: rgba(16, 4, 4, 0.991);
}

.catalog .wine-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.wine-card {
  background: rgba(225, 193, 193, 0.362);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
}

.footer {
  text-align: center;
  padding: 50px;

  color: rgb(74, 17, 17);
  font-size: large;
  font-style: italic;
  background-image: url(./img/ვენახის_ბოძი_01-1024x683.jpg);
  
}
 .icon_wrapper1 {
padding: 20px;

color: rgb(16, 3, 65);
 }
.product_list {
  background-color: #b08c539e;
  width: 400px;
  font-size: large;
  text-align: center;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.article_container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.icon_wrapper {
  display: none;
}

/* ეს არის კატალოგის გვერდი  */

.header_catalog {
  display: flex;

  justify-content: space-around;
  background: #d8c1889e;
  align-items: center;
  padding-top: 20px;

  padding-bottom: 20px;

  background-image: url(./img/vinogradniki-09.2e16d0ba.fill-720x405.jpg);
  background-size: cover;
}

/* .footer {
  

  color: rgb(74, 17, 17);
  font-size: large;
  font-style: italic;

  background-image: url(./img/ვენახის_ბოძი_01-1024x683.jpg); 

  
}  */

/* ეს არის კონტაქტის გვერდი */

.header_contact {
  display: flex;

  justify-content: space-around;
  background: #d8c1889e;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(./img/vinogradniki-09.2e16d0ba.fill-720x405.jpg);
  background-size: cover;
}

.modal-content {
  padding-top: 50px;
  padding: 100px;
}
.Login {
  padding: 20px;
}

input {
  padding: 5px;
}
.registerUser {
  padding: 20px;
}

.acept {
  font-size: larger;
}




/* ეს არის about გვერდი */

.header_about {
  display: flex;

  justify-content: space-around;
  background: #d8c1889e;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(./img/vinogradniki-09.2e16d0ba.fill-720x405.jpg);
  background-size: cover;
}

.cover{
  background-image: url(./img/Petit_guide_du_vin_blanc_et_de_ses_specificites.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  
}


.brand-info {
  
  display: flex;
  flex-direction: column;  
  gap: 12px;              
  max-width: 700px;
  margin: 0 auto;          
  padding: 20px;
  line-height: 1.6;
  font-size: 18px;
}

.brand-info h2 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
}

.brand-info ul {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}




/* .footer_about {
  
  text-align: center;
  padding: 50px;
  color: rgb(74, 17, 17);
  font-size: large;
  font-style: italic;
} */
